{% load i18n %}{% autoescape off %}
{% blocktrans %}Vous avez recu ce mail parce que vous avez voulu changer votre mot de passe sur {{ site_name }}.{% endblocktrans %}

{% trans "Veillez acceder à cette page pour choisir votre nouveau mot de passe:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'accounts:password-reset-confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "Ce mote de passe ne differt en aucun cas du précédent:" %} {{ user.get_username }}

{% trans "Merci de faire confiance à la JCI Cote d'Ivoire!" %}

{% blocktrans %}L'équipe de gestion du site  {{ site_name }} {% endblocktrans %}

{% endautoescape %}

