{% load i18n %}{% autoescape off %}
{% blocktrans %}Vous avez recu ce mail parce que vous avez voulu changer votre mot de passe sur {{ site_name }}.{% endblocktrans %}

{% trans "Please go to the following page and choose a new password:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'accounts:password-reset-confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "Your login email, in case you've forgotten, is same this email address:" %} {{ user.get_username }}

{% trans "Thanks for using our site!" %}

{% blocktrans %}L'équipe de gestion du site  {{ site_name }} {% endblocktrans %}

{% endautoescape %}

