{% extends 'base.html' %}
{% load static %}

{% block title %}Actualités{% endblock %}

{% block header-top %}
{% include 'header-top.html' %}
{% endblock %}

{% block nav %}
{% include 'nav.html' %}
{% endblock %}


{% block contenu %}
			<!-- Start top-post Area -->
			<section class="top-post-area pt-10">
				<div class="container no-padding">
					<div class="row">
						<div class="col-lg-12">
							<div class="hero-nav-area">
								<h1 class="text-white">Activités {{ stat }}s</h1>
                            </div>
						</div>
					</div>
				</div>
			</section>
			<!-- End top-post Area -->
			<!-- Start latest-post Area -->
			<section class="latest-post-area pb-120">
				<div class="container no-padding">
					<div class="row">
						<div class="col-lg-8 post-list">
							<!-- Start latest-post Area -->
							<div class="latest-post-wrap">
								<h4 class="cat-title">ACTIVITES {{ stat | upper }}</h4>
                                {% if Activ %}
                                    {% for A in Activ %}
								<div class="single-latest-post row align-items-center">
									<div class="col-lg-5 post-left">
										<div class="feature-img relative">
											<div class="overlay overlay-bg"></div>
											<img class="img-fluid" src="{{ A.img.url }}" alt="">
										</div>
										<ul class="tag">
											<li><a href="{% url 'details_actvr' A.titre %}">Details</a></li>
										</ul>
									</div>
									<div class="col-lg-7 post-right">
										<a href="{# url 'image-post.html' #}">
											<h4>{{ A.titre }}</h4>
										</a>
										<ul class="meta">
											<li><a href="#"><span class="lnr lnr-user"></span>JCI Cote d'Ivoire</a></li>
											<li><a href="#"><span class="lnr lnr-calendar-full"></span>{{ A.date_pub }}</a></li>
											<li><a href="#"><span class="lnr lnr-star"></span>{{ A.statut_actv }}</a></li>
										</ul>
										<p class="excert">
											{{ A.contenu_actv | truncatewords:30 | safe }}
										</p>
									</div>
								</div>
                                    {% endfor %}
                                {% endif %}
							</div>
							<!-- End latest-post Area -->
                        <!-- Start banner-ads Area -->
							<div class="col-lg-12 ad-widget-wrap mt-30 mb-30">
								<img class="img-fluid" src="{% static 'img/banner-ad.jpg' %}" alt="">
							</div>
							<!-- End banner-ads Area -->
							<!-- Start popular-post Area -->

						</div>
						{% include 'pages/ruban_droite.html' %}
					</div>
				</div>
			</section>
			<!-- End latest-post Area -->

{% endblock %}