{% extends 'base.html' %}
{% load social_share %}
{% load crispy_forms_tags %}

{% block title %}details{% endblock %}

{% block header-top %}
{% include 'header-top.html' %}
{% endblock %}

{% block nav %}
{% include 'nav.html' %}
{% endblock %}


{% block contenu %}
			<!-- Start top-post Area -->
			<section class="top-post-area pt-10">
				<div class="container no-padding">
					<div class="row">
						<div class="col-lg-12">
							<div class="hero-nav-area">
								<h1 class="text-white">Details de l'activité</h1>
                                <h4 class="text-white"></h4>
                            </div>
						</div>
					</div>
				</div>
			</section>
			<!-- End top-post Area -->
			<!-- Start latest-post Area -->
			<section class="latest-post-area pb-120">
				<div class="container no-padding">
					<div class="row">
						<div class="col-lg-8 post-list">
							<!-- Start single-post Area -->
							{% if detail_actv %}
							<div class="single-post-wrap">
								<a href="{{ detail_actv.img.url }}"><div class="feature-img-thumb relative">
									<div class="overlay "></div>
                                    {% if detail_actv.img %}
                                        <img class="img-fluid" src="{{ detail_actv.img.url }}" alt="">
                                    {% endif %}
								</div></a>
								<div class="content-wrap">
									<h3>{{ detail_actv.titre }}</h3>
									<ul class="meta pb-20">
										<li><a href="#"><span class="lnr lnr-user"></span>JCI Cote d'Ivoire</a></li>
										<li><a href="#"><span class="lnr lnr-calendar-full"></span>{{ detail_actv.date_pub }}</a></li>
									</ul>
									<p>
                                        {{ detail_actv.contenu_actv | safe }}
                                    </p>
                                    <p><button type="button" class="fa fa-facebook-official w3-button w3-blue w3-margin-bottom" >{% post_to_facebook object_or_url "Partager" %}</button>
                                    </p>
							</div>

						</div>
                            {% endif %}
						<!-- End single-post Area -->
					</div>
                        {% include 'pages/ruban_droite.html' %}
				</div>
			</div>
		</section>
		<!-- End latest-post Area -->
 <!-- Start contact-page Area -->
            <section class="contact-page-area pt-50">
				<div class="container">
					<div class="row contact-wrap">
                        <h1 style="text-align: center;">Contactez-nous !</h1>
                    </div>
                </div>
            </section>
			<section class="contact-page-area pb-120">
				<div class="container">
					<div class="row contact-wrap">
						<div class="map-wrap" style="width:100%; height: auto;" id="map"></div>
						<div class="col-lg-3 d-flex flex-column address-wrap">
                            <hr>
							<div class="single-contact-address d-flex flex-row">
								<div class="icon">
									<span class="lnr lnr-home"></span>
								</div>
								<div class="contact-details">
									<h5>Angle 6 Avenue Lamblin, rue Augustin Tessières, Abidjan Plateau </h5>
									<p>
										01 BP 3714 Abidjan 01
									</p>
								</div>
							</div>
							<div class="single-contact-address d-flex flex-row">
								<div class="icon">
									<span class="lnr lnr-phone-handset"></span>
								</div>
								<div class="contact-details">
									<h5>Tél : +225 20 32 76 86</h5>
									<p>Lundi au samedi 8h-16h</p>
								</div>
							</div>
							<div class="single-contact-address d-flex flex-row">
								<div class="icon">
									<span class="lnr lnr-envelope"></span>
								</div>
								<div class="contact-details">
									<h5>E-mail : sg.jcicotedivoire@gmail.com</h5>
									<p>Contactez-nous</p>
								</div>
							</div>
						</div>
                        <div class="col-lg-1"><br></div>
						<div class="col-lg-8">
							<form class="form-area contact-form text-left" enctype="multipart/form-data" method="post">
                                <div class="row">
									<div class="col-lg-9">
                                        {% csrf_token %}
                                        {% crispy cont_form %}
                                    </div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</section>
			<!-- End contact-page Area -->
{% endblock %}