{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% load social_share %}
{% block title %}Actualités{% endblock %}

{% block header-top %}
{% include 'header-top.html' %}
{% endblock %}

{% block nav %}
{% include 'nav.html' %}
{% endblock %}


{% block contenu %}
			<!-- Start top-post Area -->
			<section class="top-post-area pt-10">
				<div class="container no-padding">
					<div class="row">
						<div class="col-lg-12">
							<div class="hero-nav-area">
								<h1 class="text-white">Actualités</h1>
                            </div>
						</div>
					</div>
				</div>
			</section>
			<!-- End top-post Area -->
			<!-- Start latest-post Area -->
			<section class="latest-post-area pb-120">
				<div class="container no-padding">
					<div class="row">
						<div class="col-lg-8 post-list">
							<!-- Start latest-post Area -->
							<div class="latest-post-wrap">
								<h4 class="cat-title">ACTUALITE NATIONALE</h4>
                                {% if Actua %}
                                    {% for A in Actua %}
								<div class="single-latest-post row align-items-center">
									<div class="col-lg-5 post-left">
										<div class="feature-img relative">
											<div class="overlay overlay-bg"></div>
											{% if A.actu_img %}
                                                <img class="img-fluid" src="{{ A.actu_img.url }}" alt="">
                                            {% else %}
                                                <img  src="{% static 'img/defaut_img.png' %}" style="width:100%" alt="" >
                                            {% endif %}
										</div>
										<ul class="tag">
											<li><a href="{% url 'details_actu' A.actu_titre %}">Details</a></li>
										</ul>
									</div>
									<div class="col-lg-7 post-right">
										<a href="{# url 'image-post.html' #}">
											<h4>{{ A.actu_titre }}</h4>
										</a>
										<ul class="meta">
											<li><a href="#"><span class="lnr lnr-user"></span>JCI Cote d'Ivoire</a></li>
											<li><a href="#"><span class="lnr lnr-calendar-full"></span>{{ A.actu_dat }}</a></li>
										</ul>
										<p class="excert">
											{{ A.actu_descri | truncatewords:40 | safe  }}
										</p>
									</div>
								</div>
                                    {% endfor %}
                                {% endif %}
							</div>
							<!-- End latest-post Area -->
                        <!-- Start banner-ads Area -->
							<div class="col-lg-12 ad-widget-wrap mt-30 mb-30">
								<img class="img-fluid" src="{% static 'img/banner-ad.jpg' %}" alt="">
							</div>
							<!-- End banner-ads Area -->
							<!-- Start popular-post Area -->

							<!-- End popular-post Area -->
							<!-- Start relavent-story-post Area -->
							<div class="relavent-story-post-wrap mt-30">
								<h4 class="title">PUBLICATIONS DES MEMBRES</h4>
								<div class="relavent-story-list-wrap">
                                    {% if Publi %}
                                        {% for P in Publi %}
                                            <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                                                <a href="{% url 'profiles:show' P.pub_par.slug %}"><img style="border-radius:50%;" src="{% thumbnail P.pub_par.user.profile.picture|default:'default_profile.png' 40x40 crop %}" alt="photo" class="w3-left w3-margin-right"></a>
                                            <span class="w3-right w3-opacity">{{ P.pub_dat }}</span>
                                            <h4>{{ P.pub_par }}</h4><br>
                                            <hr class="w3-clear">
                                            <p>{{ P.pub_text | safe }}</p>
                                            {% if P.pub_file %}
												<a href="{% url 'details_publi' P.id %}"><img src="{{ P.pub_file.url }}" style="width:100%; height: 300px" class="w3-margin-bottom" alt=""></a>
                                            {% else %}
                                                {% endif %}
                                                <a href="{% url 'details_publi' P.id %}"><button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-eye"></i>  Voir</button></a>
                                            <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-facebook-official"></i>{% post_to_facebook object_or_url "Partager" %}</button>
                                           </div>
                                        {% endfor %}
                                    {% endif %}
								</div>
							</div>
						</div>
						{% include 'pages/ruban_droite.html' %}
					</div>
				</div>
			</section>
			<!-- End latest-post Area -->

{% endblock %}